################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/samplewebaspnetapp/.vs/samplewebaspnetapp/v16
/samplewebaspnetapp/packages
/samplewebaspnetapp/.vs/samplewebaspnetapp/config
/samplewebaspnetapp/samplewebaspnetapp/bin
/samplewebaspnetapp/samplewebaspnetapp/obj/Debug
/samplewebaspnetapp/samplewebaspnetapp/samplewebaspnetapp.csproj.user
/samplewebaspnetapp/samplewebaspnetapp/Web.Release.config
/samplewebaspnetapp/samplewebaspnetapp/Web.Debug.config
